* {
    padding: 0;
    margin: 0;
    list-style: none;
}

:root,
body {
    background-color: rgba(0, 0, 0, .5);
    zoom: 1;
}


.wrap {
    position: relative;
    width: 750px;
    font-size: 10px;
    margin: 0 auto;
    /* box-sizing: border-box; */
    background-color: #fff;
}

.nav-top {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 750px;
    top: -1px;
    background-color: #405f80;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    z-index: 999;
}

.nav-top img {
    display: block;
    height: 30px;
    width: 40px;
}

.nav-top img:nth-of-type(1) {
    margin-left: 30px;
}

.nav-top img:nth-of-type(2) {
    margin-right: 40px;
}

.nav-top span {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}


.bg-blur {
    position: relative;
    width: 100%;
    height: 300px;
    top: 88px;

    /* border: 1px solid black; */

    color: #fff;
    z-index: 9;
}

.bg-blur-content {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    overflow: hidden;

}

.bg-blur-content:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("../images/banner.webp") no-repeat 100% / cover;
    filter: blur(25px);
    z-index: -1;
}

.bg-blur h1 {
    font-size: 35px;
    letter-spacing: 10px;
}

.bg-blur h5 {
    margin-top: 40px;
    font-size: 22px;
    font-weight: 400;
}

.like-comment {
    margin-top: 65px;
}

.like-comment div {
    float: left;
    font-size: 20px;
    color: #dd2250;
}

.like-comment div:not(div:first-child) {
    margin-left: 40px;
}

.like-comment div span:last-child {

    margin-left: 15px;
    color: #666666;
}

.bg-blur:after {
    content: '';
    position: absolute;
    top: 140px;
    right: 30px;
    width: 175px;
    height: 240px;
    background: url("../images/banner.webp") no-repeat 100% / cover;
}

.movie-info {

    height: 330px;
    width: 100%;
    margin-top: 90px;
    padding-left: 40px;
    border-bottom: 2px solid #d9d9d9;
    box-sizing: border-box;
    color: #666666;
}

.movie-info span {
    font-size: 15px;
}

.movie-info h1 {

    padding: 40px 0;
}

.movie-info p {
    margin-top: 20px;
}

.movie-info p span:first-child {
    color: #9c9c9c;
    margin-right: 30px;
}

.score img {
    height: 15px;
    width: 15px;
}
.score span:nth-of-type(2){
    margin-left: 20px;
    font-size: 20px;
}
.synopsis {
    height: 350px;
    width: 100%;
    padding: 55px 55px 55px 40px;
    box-sizing: border-box;
    font-size: 22px;
    color: #999;
    border-bottom: 2px solid #d9d9d9;
}

.synopsis p:nth-of-type(2),
.synopsis p:nth-of-type(3) {
    letter-spacing: 2px;
    line-height: 40px;
    color: #666;
}

.synopsis p:nth-of-type(2) {
    margin-top: 20px;
}

.filmmaker {
    height: 422px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.filmmaker-show {
    overflow-x: auto;
}

.filmmaker h1 {
    margin: 50px 0 40px 40px;
    color: #bcbcbc;
    font-weight: 400;

}

.filmmaker ul {
    height: 280px;
    width: 1430px;
    margin-left: 40px;
}

.filmmaker li {
    float: left;
    margin-right: 40px;
    height: 280px;
    width: 170px;
    text-align: center;
    color: #9b9b9b;
}

.filmmaker li p:nth-of-type(1) {
    margin: 5px 0;
    color: #000;
}

.filmmaker li:nth-of-type(7) {
    margin-right: 0px;
}

.filmmaker img {
    height: 230px;
    width: 100%;
}