*{
  padding:0px;
  margin: 0px;
  list-style: none;
}
.title {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
}

.title-nav {
  width: 335px;
  height: 100%;
}

.title-nav ul {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-nav ul li {
  height: 100%;
  width: 67px;
  text-align: center;
  line-height: 85px;
  color: #777777;
}

.title-nav ul li:last-child,
.title-nav ul li:hover {
  border-bottom: 2px solid #2dae36;
  color: #2dae36;
  cursor: pointer;
}

.content {
  width: 100%;
}
.bg {
  height: 412px;
  width: 100%;
}
.bg img {
  height: 100%;
  width: 100%;
}

.show {
  margin-top: 20px;
  padding: 0 10%;
  box-sizing: border-box;
}

.show-title {
  height: 45px;
  width: 100%;
  border-bottom: 1px solid #2dae36;
}

.show-title h4 {
  height: 45px;
  width: 120px;
  background-color: #2dae36;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  line-height: 45px;
  font-weight: 100;
  color: #fff;
}

.telephone {
  display: flex;
  justify-content: center;
  height: 250px;
  margin-top: 10px;
  padding: 60px;
}
.telephone div {
  width: 30%;
}
.telephone-left {
  position: relative;
  font-size: 30px;
  /* font-weight: bold; */
  border-right: 1px solid #2dae36;
  text-align: center;
  line-height: 130px;
}
.telephone-left::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  left: 0px;
  top: calc(50% - 30px);
  border: 1px solid #2dae36;
  border-radius: 50%;
  background: url("../images/电话.png") no-repeat;
  background-size: 50% 50%;
  background-position: center;
}
.telephone-right p {
  position: relative;
  margin-left: 60px;
  line-height: 35px;
}

.telephone-right p::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  left: -49px;
  top: calc(50% - 20px);
  border: 1px solid #2dae36;
  border-radius: 50%;
  background: url("../images/手机.png") no-repeat;
  background-size: 50% 50%;
  background-position: center;
}

.telephone-right p:nth-of-type(2)::after {
  background-image: url("../images/信息.png");
}
.telephone-right p:nth-of-type(3)::after {
  background-image: url("../images/定位 位置.png");
}

/* 
















 */
.map {
  height: 320px;
  width: 100%;
  border-top: 1px solid #2dae36;
  border-bottom: 1px solid #2dae36;
}
.map img {
  height: 100%;
  width: 100%;
}
.footer {
  height: 120px;
  width: 100%;
  background-color: #dddddd;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  color: #777;
}

.footer-left {
  height: 75px;
  width: 105px;
  background: url("../images/logo3.png") no-repeat;
  background-size: 100% 100%;
}

.footer-middle p {
  margin-bottom: 0px;
  font-size: 14px;
}

.footer-middle p:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 14px;
}

.footer-middle p:first-child span:hover {
  color: #2dae36;
  cursor: pointer;
}

.footer-middle {
  height: 40px;
  width: 465px;
  text-align: center;
}

.footer-right {
  height: 85px;
  width: 180px;
  padding-left: 20px;
}

.footer-right p {
  position: relative;
}

.footer-right p::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  left: -18px;
  top: 4px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/telephone.png");
}

.footer-right p:nth-of-type(2)::before {
  background-image: url("../images/phone.png");
}

.footer-right p:nth-of-type(3)::before {
  background-image: url("../images/news.png");
}
